@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: #282c34 1px solid;
    text-align: center;
}


.header-text {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    flex-grow: 2;
}

.right-icon-container {
    flex-grow: 1;
    justify-content: space-around;
    display: flex;


}

.left-icon-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
